.showcase {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.3);
  color: #fff;
  height: 88vh;
  position: relative;
  border: 3px solid #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.6;
}