.navigation {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	z-index: 2;
	width: 90%;
	padding: 5px;
	text-align: center;
	justify-content: center;
  }

  #homeButton {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: 3px;
	border-radius: 5px;
	background: #387e9b;
	color: #fff;
	cursor: pointer;
	margin-bottom: 15px;
  }

  #homeButton:hover {
	background: #c7e0eb;
	color: black;
	opacity: 70%;
  }

  #contactButton {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: 3px;
	border-radius: 5px;
	background: #387e9b;
	color: #fff;
	cursor: pointer;
	margin-bottom: 15px;
  }

  #contactButton:hover {
	background: #c7e0eb;
	color: black;
	opacity: 70%;
  }

  #resumeButton {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: 3px;
	border-radius: 5px;
	background: #387e9b;
	color: #fff;
	cursor: pointer;
	margin-bottom: 15px;
  }

  #resumeButton:hover {
	background: #c7e0eb;
	color: black;
	opacity: 70%;
  }


  #portfolioButton {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: 3px;
	border-radius: 5px;
	background: #387e9b;
	color: #fff;
	cursor: pointer;
	margin-bottom: 15px;
  }

  #portfolioButton:hover {
	background: #c7e0eb;
	color: black;
	opacity: 70%;
  }


  #personalButton {
	width: 200px;
	font-size: 18px;
	padding: 10px;
	border: 3px;
	border-radius: 5px;
	background: #387e9b;
	color: #fff;
	cursor: pointer;
  }

  #personalButton:hover {
	background: #c7e0eb;
	color: black;
	opacity: 70%;
  }