*   {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: white;
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}